<div class="row">
    <div class="col-md-6">
        <div class="input-group mb-3 mt-3">
            <input type="text" class="form-control" placeholder="Type here" aria-label="Username" [(ngModel)]='userInput'
                >
        </div>
    </div>
    <div class="col-md-6">
        <p *ngIf="userInput" class="lead mt-3">You are typing: {{userInput}}</p>
    </div>
</div>
<button class="btn btn-primary" (click)="getUsers()">Get New Data</button>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
        </tr>
    </thead>
    <tbody *ngFor="let user of userList; let i = index">

        <tr>
            <td>{{i+1}}</td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.email}}</td>
        </tr>

    </tbody>
</table>